body {
  margin: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  background-color: #e28743;
  font-family: 'Fuzzy Bubbles', cursive;

}

h1 {
  font-size: 4rem;
  padding-top: 40px;
}

button {
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

footer {
  padding: 2rem;
}

.butcherPig {
  width: 24rem;
  border-style: dotted;
  border-width: 4px;
}

.userInput {
  border-radius: .5rem;
  font-size: 1rem;
  height: 5rem;
  width: 20rem;
  text-align: center;
}

.inputArea {
  background-color: #1e81b0;
  color: #21130d;
  border-radius: .5rem;
  padding: 1rem;
  border-style: dotted;
  border-width: 4px;
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 2rem;
  }
  .userInput{
    font-size: 1rem;
    height: 5rem;
    width: 90%;
    padding: 1rem;
    text-align: center;
  }
}
